[Unit]
Description=LED Cube Server (SPI)
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/ledcube
ExecStart=/opt/ledcube/bin/ledcube -driver=spi -addr=:8080 -config /opt/ledcube/config.yaml
Restart=on-failure
User=pi
Group=pi
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment=LED_BRIGHTNESS=0.7
LimitRTPRIO=50

[Install]
WantedBy=multi-user.target