[Unit]
Description=LED Cube Server (SPI)
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/ledcube
ExecStart=/opt/ledcube/ledcube -driver=spi -addr=:8080
Restart=on-failure
User=cory@pi2200
Environment=LED_BRIGHTNESS=0.7
LimitRTPRIO=50

[Install]
WantedBy=multi-user.target
